@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<h1>PASS GENERATOR6</h1>
<p>Data Ultima Atualização: 15/05/2024</p>
<div class="text-center">
    <p>Data De Nascimento: 31/05/2006</p></>
    <button id="generatePasswordBtn" onclick="generatePass()">Generate Random Password</button>
    <input type="number" id="passLength" min="1" value="12" />
    <p id="passwordDisplay"></p>
    
</div>


@section Scripts {
    <p>Veja Mais No G1</p>
    <script src="https://g1.globo.com/"></script>
    <script>
        function generatePass() {
            var passLength = $("#passLength").val();
            $.ajax({
                url: '@Url.Page(null, "GenerateRandomPassword")',
                type: "GET",
                data: { passLength: passLength },
                success: function (password) {
                    $("#passwordDisplay").text("Random Password: " + password);
                }
            });
        };
    </script>
}
