@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}




<div class="text-center">
    <p>Data Nascimento: 13/08/2006</p>
    <a href="https://g1.globo.com/rs/rio-grande-do-sul/ao-vivo/tragedia-no-rio-grande-do-sul.ghtml"> "link"</a>
    <button id="generatePasswordBtn" onclick="generatePass()">Generate Random Password</button>
    <input type="number" id="passLength" min="1" value="12" />
    <p id="passwordDisplay"></p>
</div>


@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function generatePass() {
            var passLength = $("#passLength").val();
            $.ajax({
                url: '@Url.Page(null, "GenerateRandomPassword")',
                type: "GET",
                data: { passLength: passLength },
                success: function (password) {
                    $("#passwordDisplay").text("Random Password: " + password);
                }
            });
        };
    </script>
}
