@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<h1>PASS GENERATOR6</h1>
<h2>Joao Gabriel</h2>
<div class="text-center">
    <button id="generatePasswordBtn" class="button-62" onclick="generatePass()">Generate Random Password</button>
    <input type="number" id="passLength" min="1" value="12" />
    <p id="passwordDisplay"></p>
</div>

<style>
        .text-center{
            line-break: revert-layer;
            word-break: break-all;

        }
    /* CSS */
    .button-62 {
        background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
        border: 0;
        border-radius: 12px;
        color: #FFFFFF;
        cursor: pointer;
        display: inline-block;
        font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 2.5;
        outline: transparent;
        padding: 0 1rem;
        text-align: center;
        text-decoration: none;
        transition: box-shadow .2s ease-in-out;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        white-space: nowrap;
    }

    .button-62:not([disabled]):focus {
        box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
    }

    .button-62:not([disabled]):hover {
        box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
    }
</style>


@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function generatePass() {
            var passLength = $("#passLength").val();
            $.ajax({
                url: '@Url.Page(null, "GenerateRandomPassword")',
                type: "GET",
                data: { passLength: passLength },
                success: function (password) {
                    $("#passwordDisplay").text("Random Password: " + password);
                }
            });
        };
    </script>
}
