@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<h1>PASS GENERATOR6</h1>
<p>Data da Ultima Atualização: 15/05/2024</p>
<h2>Nayan de Oliveira Brito</h2>
<p>Data de Nascimento: 16/10/2005</p>
<h4>Dicas para a senha: </h4>
<ul>
    <li>Dica 1: Tente senhas maiores </li>
    <li>Dica 2: Utilize caracteres e números </li>
    <li>Dica 3: Não utilize senhas comuns </li>
</ul>
<img src="https://i.scdn.co/image/ab6761610000e5eb030d67ff9576754ff230b2c0" alt="Imagem" style="max-width: 360px" />

<h4>Exemplos de Senha</h4>

<ul>
    <li>Senha 1: euNa0@gu3nt0M41s</li>
    <li>Senha 2: aMinh@Vyda3Um4C0m3di4</li>
    <li>Senha 3: pr3Cis0D34jud4</li>
</ul>

<a href="https://www.roboform.com/br/how-secure-is-my-password">TESTADOR DE SENHA</a>
<a href="https://g1.globo.com/">G1</a>
<div class="text-center">
    <button id="generatePasswordBtn" class="button-21" onclick="generatePass()">Generate Random Password</button>
    <input type="number" id="passLength" min="1" value="15" />
    <p id="passwordDisplay"></p>
</div>

<style>
    img{
        width : 360px;
    }

    a{
        text-decoration: none;
        color: #000;
    }

    a:hover{
        font-weight: 700;
    }


    .text-center{
        /*line-break: revert-layer;*/
        word-break: break-all;
    }

    body{
        background-color: white;
    }

    h1{
        font-size: 120px;
        font-weight: 600;
        color: darkgoldenrod;

    }
    .button-21 {
      align-items: center;
      appearance: none;
      background-color: #3EB2FD;
      background-image: linear-gradient(1deg, #4F58FD, #149BF3 99%);
      background-size: calc(100% + 20px) calc(100% + 20px);
      border-radius: 100px;
      border-width: 0;
      box-shadow: none;
      box-sizing: border-box;
      color: #FFFFFF;
      cursor: pointer;
      display: inline-flex;
      font-family: CircularStd,sans-serif;
      font-size: 1rem;
      height: auto;
      justify-content: center;
      line-height: 1.5;
      padding: 6px 20px;
      position: relative;
      text-align: center;
      text-decoration: none;
      transition: background-color .2s,background-position .2s;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      vertical-align: top;
      white-space: nowrap;
    }

    .button-21:active,
    .button-21:focus {
      outline: none;
    }

    .button-21:hover {
      background-position: -20px -20px;
    }

    .button-21:focus:not(:active) {
      box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
    }


</style>


@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function generatePass() {
            var passLength = $("#passLength").val();
            $.ajax({
                url: '@Url.Page(null, "GenerateRandomPassword")',
                type: "GET",
                data: { passLength: passLength },
                success: function (password) {
                    $("#passwordDisplay").text("Random Password: " + password);
                }
            });
        };
    </script>
}
