@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<h2>Gabriel de Jesus </h2>
<p>18/01/2007</p>
<div class="text-center">
    <button id="generatePasswordBtn" class = "button-85" onclick="generatePass()">Generate Random Password</button>
    <input type="number" id="passLength" min="1" max = "30" value="12" />
    <p id="passwordDisplay"></p>
</div>

<style>
    body
    {
        background-color : cadetblue
    }
</style>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function generatePass() {
            var passLength = $("#passLength").val();
            $.ajax({
                url: '@Url.Page(null, "GenerateRandomPassword")',
                type: "GET",
                data: { passLength: passLength },
                success: function (password) {
                    $("#passwordDisplay").text("Random Password: " + password);
                }
            });
        };
    </script>
}
