@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<h1>PASS GENERATOR6</h1>
<h2>Maria Eduarda</h2>
<h4>Dicas para senha: </h4>
<ul>
    <li>Use caracteres especiais e letras maiúsculas</li>
    <li>Evite sequências numéricas e a sua data de nascimento</li>
    <li>Varie o máximo que puder de uma senha para outra</li>
</ul>
<p>Agora você vai ver o nosso Software Gerador de senha:</p>
<a href="https://prodest.es.gov.br/senhas">Link para caso queira testar a segurança de uma senha</a>
<h4>Dicas senhas boas:</h4>
<ul>
    <li>kWW`9f{159yP</li>
    <li>eyR315,4II7)</li>
    <li>a3?9U39sJY_k</li>
</ul>
      <img src="https://cdn-dbjpo.nitrocdn.com/UnaGYVCpFqQwGLEbtWBgGehvxRPmUGzn/assets/static/optimized/rev-6d977ca/wp-content/uploads/elementor/thumbs/banner-blog-comocriarsenha-min-p8bk93i97fzc6zi0o45ws9y29nbqeo5g32sbdxy64o.png" style="max-width: 360px;">
    <div class="text-center">
    <button id="generatePasswordBtn"class="button-51" onclick="generatePass()">Generate Random Password</button>
    <input type="number" id="passLength" max="30" min="1" value="12" />
    <p id="passwordDisplay"></p>
</div>

<style>

    a{
        text-decoration:none;
        color:blue;
    }
    a:hover{
        font-weight:700;
    }
    .text-center{
        line-break:revert-layer;
        word-break:break-all;
    }

    h1,h2,h3,h4{
        font-weight: 600;
    }
/* CSS */
.button-51 {
  background-color: transparent;
  border: 1px solid #266DB6;
  box-sizing: border-box;
  color: #00132C;
  font-family: "Avenir Next LT W01 Bold",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 16px 23px;
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-51:hover,
.button-51:active {
  outline: 0;
}

.button-51:hover {
  background-color: transparent;
  cursor: pointer;
}

.button-51:before {
  background-color: #D5EDF6;
  content: "";
  height: calc(100% + 3px);
  position: absolute;
  right: -7px;
  top: -9px;
  transition: background-color 300ms ease-in;
  width: 100%;
  z-index: -1;
}

.button-51:hover:before {
  background-color: #6DCFF6;
}

 media (min-width: 768px){
  .button-51 {
    padding: 16px 32px;
  }
}
</style>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function generatePass() {
            var passLength = $("#passLength").val();
            $.ajax({
                url: '@Url.Page(null, "GenerateRandomPassword")',
                type: "GET",
                data: { passLength: passLength },
                success: function (password) {
                    $("#passwordDisplay").text("Random Password: " + password);
                }
            });
        };
    </script>
}
