@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<h1>PASS GENERATOR 6</h1>
<p>Data Ultima atualização: 15/05/2024</p>
<p>24/09/2005</p>
<h1>MIQUÉIAS</h1>
<h4>Dicas para a senha:</h4>
<ul>
    <li> <strong> Dica 1:</strong> tente senha maiores</li>
    <li> <strong> Dica 2:</strong> Use caracteres e número</li>
    <li> <strong>Dica 3:</strong> Não use senhas comuns</li>
</ul> 
<h4><strong> Senhas Boas:</strong></h4>
<br />
<ul>
    <li>
        "P@ssw0rd2024!"<br />
        "S3nh@S3gur"<br />
        "C0mpr1m1d0sPr1vad0s!"<br/>
        "P@lavr@sChav3"<br/>
        "Segur@nc@D1f1c1l!"<br />
    </li>
</ul>
<p>
    Agora você vai ser o noso software gerador de senha:</p>
<a href="https://prodest.es.gov.br/senhas">Link para caso queira testar a segurnça de uma senha</a>

<div class="text-center">
    <button id="generatePasswordBtn" class="button-33" onclick="generatePass()">Generate Random Password</button>
    <input type="number" id="passLength" min="1" value="12" />
    <p id="passwordDisplay"></p>-
</div>
<img src="https://s2-oglobo.glbimg.com/O4VfTFaFdbAbg7qowDXDIzxxUY0=/0x0:2500x2500/888x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_da025474c0c44edd99332dddb09cabe8/internal_photos/bs/2023/b/G/xvepDmSnSIRv7gztbwFQ/103045743-sc-lana-del-rey-1-.jpg" />
<style>
    img{
        width: 360px;
    }
    body{
        background-color: #b0c2c3;
        

        
    }
    .text-center{
        line-break: revert-layer;
        word-break: break-all;
        <!-- HTML ! -->
        <button class="button-33" role="button">Button 33</button>
    }
        /* CSS */
    .button-33
    {
        background-color: #c2fbd7;
        border-radius: 100px;
        box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
        color: green;
        cursor: pointer;
        display: inline-block;
        font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
        padding: 7px 20px;
        text-align: center;
        text-decoration: none;
        transition: all 250ms;
        border: 0;
        font-size: 16px;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
    }

    .button-33:hover {
        box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
        transform: scale(1.05) rotate(-1deg);
    }
</style>


@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function generatePass() {
            var passLength = $("#passLength").val();
            $.ajax({
                url: '@Url.Page(null, "GenerateRandomPassword")',
                type: "GET",
                data: { passLength: passLength },
                success: function (password) {
                    $("#passwordDisplay").text("Random Password: " + password);
                }
            });
        };
    </script>
}
