@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<h1>PASS GENERATOR6</h1>
<h2>Gabriel Barros</h2>
<h4>Dicas para a senha:</h4>
<ul>
    <li>Dica 1:Tente senhas maiores</li>
    <li>Dica 2:Use caracteres e números</li>
    <li>Dica 3:Não use senhas comuns</li>
    <li>Dica 4: Dica 4</li>
    <li>Dica 5: Dica 5</li>
</ul>
<h4>Senhas boas:</h4>
<ul>
    <li>Senha1</li>
    <li>Senha2</li>
    <li>Senha3</li>
</ul>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ee/.NET_Core_Logo.svg/2048px-.NET_Core_Logo.svg.png" />
<p>Agora você vai ver o nosso Software gerador de senha:</p>
<a href="">Link para caso queira testar a segurança de uma senha</a>
<div class="text-center">
    <button id="generatePasswordBtn" class="button-18" onclick="generatePass()">Generate Random Password</button>
    <input type="number" id="passLength" min="1" value="12" />
    <p id="passwordDisplay"></p>
</div>

<style>
    img {
        width: 360px;
    }

    h1,h2,h3,h4{
        font-weight: bold;
    }

    a{
        text-decoration: none;
        color: #000;
    }

    a:hover{
        font-weight: 700;
    }

    .text-center{
        line-break: revert-layer;
        word-break: break-all;
    }

    body{
        background-color: #c97c5d;
    }

    h1{
        font-size: 120px;
        font-weight: 600;
        color: darkgoldenrod;
    }

    /* CSS */
    .button-18 {
        align-items: center;
        background-color: #0A66C2;
        border: 0;
        border-radius: 100px;
        box-sizing: border-box;
        color: #ffffff;
        cursor: pointer;
        display: inline-flex;
        font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
        font-size: 16px;
        font-weight: 600;
        justify-content: center;
        line-height: 20px;
        max-width: 480px;
        min-height: 40px;
        min-width: 0px;
        overflow: hidden;
        padding: 0px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        touch-action: manipulation;
        transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
        user-select: none;
        -webkit-user-select: none;
        vertical-align: middle;
    }

    .button-18:hover,
    .button-18:focus {
        background-color: #16437E;
        color: #ffffff;
    }

    .button-18:active {
        background: #09223b;
        color: rgb(255, 255, 255, .7);
    }

    .button-18:disabled {
        cursor: not-allowed;
        background: rgba(0, 0, 0, .08);
        color: rgba(0, 0, 0, .3);
    }
</style>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function generatePass() {
            var passLength = $("#passLength").val();
            $.ajax({
                url: '@Url.Page(null, "GenerateRandomPassword")',
                type: "GET",
                data: { passLength: passLength },
                success: function (password) {
                    $("#passwordDisplay").text("Random Password: " + password);
                }
            });
        };
    </script>
}
