@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<h1>TITULO</h1>
<h2>Clarice Santos</h2>
<div class="text-center">
    <button id="generatePasswordBtn" onclick="generatePass()">Generate Random Password</button>
    <input type="number" id="passLength" min="1" value="12" />
    <p id="passwordDisplay"></p>
</div>

<style>
    .text-center{
        line-break: revert-layer;
        word-break: break-all;
        <!-- HTML !-->
    }
           <!-- HTML !-->
      <!-- HTML !-->
<button class="button-1" role="button">Button 1</button>

/* CSS */
.button-1 {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
  background-color: #F082AC;
}



@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function generatePass() {
            var passLength = $("#passLength").val();
            $.ajax({
                url: '@Url.Page(null, "GenerateRandomPassword")',
                type: "GET",
                data: { passLength: passLength },
                success: function (password) {
                    $("#passwordDisplay").text("Random Password: " + password);
                }
            });
        };
    </script>
}
