@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<p>Data Nascimento 17/06/2006</p>
<a href="https://g1.globo.com/">Clique aqui para ir em um site do G1</a>

<style>

   a {
        text-decoration: none;
        color: white;
    }

    p {
        font-weight: bold;
        font-size: 40px;
        font-weight: 600;
        color: black;
    }

    a:hover {
        font-weight: 700;
    }

    .text-center {
        line-break: revert-layer;
        word-break: break-all;
    }

    body {
        background-color: red;
    }

    h1 {
        font-weight: bold;
        font-size: 40px;
        font-weight: 600;
        color: white;
    }

</style>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function generatePass() {
            var passLength = $("#passLength").val();
            $.ajax({
                url: '@Url.Page(null, "GenerateRandomPassword")',
                type: "GET",
                data: { passLength: passLength },
                success: function (password) {
                    $("#passwordDisplay").text("Random Password: " + password);
                }
            });
        };
    </script>


}
