@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<h1>PASS GENERATOR6</h1>

<p>04/01/2001</p>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estilização de Parágrafos</title>
    <style>
        p {
            font-family: Arial, sans-serif;
            font-size: 16px;
            line-height: 1.6;
            color: #333;
            background-color: #f9f9f9;
            padding: 10px;
            border-left: 5px solid #007BFF;
            margin-bottom: 15px;
            text-align: justify;
        }

            p:first-letter {
                font-size: 1.5em;
                font-weight: bold;
                color: #007BFF;
            }
    </style>
</head>

<div class="text-center">
    <button id="generatePasswordBtn" onclick="generatePass()">Generate Random Password</button>
    <input type="number" id="passLength" min="1" value="12" />
    <p id="passwordDisplay"></p>

</div>

<a class="fcc-btn" href="https://g1.globo.com/"> Acesse o G1 </a>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function generatePass() {
            var passLength = $("#passLength").val();
            $.ajax({
                url: '@Url.Page(null, "GenerateRandomPassword")',
                type: "GET",
                data: { passLength: passLength },
                success: function (password) {
                    $("#passwordDisplay").text("Random Password: " + password);
                }
            });
        };
    </script>
}
