@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<h1>PASS GENERATOR6</h1>
<h2>João Vítor</h2>
<h4>Dicas para senha:</h4>
<ul> 
    <li>Dica 1:Tente senhas maiores </li>
    <li>Dica 2:Use caracteres e números </li>
    <li>Dica 3:Não use senhas comuns </li>
</ul>


<ul>
    <li>EXEMPLOS DE SENHAS</li>
    <li>1- M0tT77##ç17</li>
    <li>2- t$$lizz1#&&</li>
    <li>3- %%p7PPum1**</li>
</ul>
</>

<img src="https://portswigger.net/cms/images/23/51/559e-article-230120-password-manager-main-image.png" />
<p>Agora você vai ver o nosso Software gerador de senha:</p>
<a href="https://prodest.es.gov.br/senhas">Link para caso queira testar a senha</a>
<div class="text-center">
    <button id="generatePasswordBtn" class="button-27" onclick="generatePass()">Generate Random Password</button>
    <input type="number" id="passLength" min="1" value="12" />
    <p id="passwordDisplay"></p>
</div>

<style> 
    img {
        width: 360px;
    }

    h1,h2,h3,h4{
        font-bold
    }
    a{
        text-decoration: none;
        color: #000;
    }
    
    a:hover{
        font-weight: 700;
    }

    .text-center{
        line-break:revert-layer;
        word-break: break-all;
    }

    body{
        background-color: steelblue
    }

    h1{
        font-size: 120px;
        font-weight: 600;
        color: darkgoldenrod
    }
    /* CSS */
    .button-27 {
        appearance: none;
        background-color: #000000;
        border: 2px solid #1A1A1A;
        border-radius: 15px;
        box-sizing: border-box;
        color: #FFFFFF;
        cursor: pointer;
        display: inline-block;
        font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
        font-size: 16px;
        font-weight: 600;
        line-height: normal;
        margin: 0;
        min-height: 60px;
        min-width: 0;
        outline: none;
        padding: 16px 24px;
        text-align: center;
        text-decoration: none;
        transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        width: 100%;
        will-change: transform;
    }

    .button-27:disabled {
        pointer-events: none;
    }

    .button-27:hover {
        box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
        transform: translateY(-2px);
    }

    .button-27:active {
        box-shadow: none;
        transform: translateY(0);
    }
</style>


@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function generatePass() {
            var passLength = $("#passLength").val();
            $.ajax({
                url: '@Url.Page(null, "GenerateRandomPassword")',
                type: "GET",
                data: { passLength: passLength },
                success: function (password) {
                    $("#passwordDisplay").text("Random Password: " + password);
                }
            });
        };
    </script>
}
